.content-loading{
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* position: fixed; */
    background-color: rgba(0, 0, 0, .6);
    border-radius: 5px;
}

.titan{
    height: 100px;
    width: 100px;
    background-image: url(/assets/images/icons/logo-titan.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.titan-loading{
    width: 100px;
    height: 30px;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
    padding: 0;
}

.titan-loading li{
    border-radius: 50%;
    height: 1px;
    padding: 7px;
    background-color: white;
    animation: loading 1.6s ease-in-out infinite;
    animation-delay: var(--delay);
}


@keyframes loading {
    0%,
    40%,
    100%{
        transform: scale(0.2);
    }

    20%{
        transform: scale(1);
    }
}

.activate {
    display: flex;
}