:root{
    --salmon: #FF5D5D;
    --black: #000000;
    --white: white;
    --yellow: #FFCF00;
    --green: #25D366;
    --yellow-light: #FFEB94;
    --blue: #3861FF;
    --gray: #CFCFCF;
}

.content-responsive{
    width: 100%;
    padding: 40px;
    display: none;
    flex-flow: column wrap;
}

.content-responsive h4 {
    color: black;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 100;
}

.content-responsive .content-image .mask{
    width: 100%;
    height: 500px !important;
}

.content-image {
    position: relative;
}

.content-image .mask img{
    width: 100%;
    height: 500px !important;
}

.content-image button{
    border-radius: 50%;
    height: 40px;
    width: 40px;
    padding: 10px;
    color: black;
    background-color: #FFCF00;
    position: absolute;
    top: calc(100% - 500px);
    left: calc(100% - 37px);
    cursor: pointer;
    border: none;
    transition: .3s ease all;
    align-self: center;

}

.content-image button:hover{
    color: white;
    box-shadow: 0 0 0 3px black;
    background-color: black;
}


.content-image ul{
    display: block;
    width: calc(100% - 0px);
    min-height: 20px;
    position: absolute;
    display: flex;
    margin: 0;
    padding: 0;
    top: calc(100% - 22px);
    align-items: center;
    justify-content: center;
    gap: 5px;
    background-color: transparent;
}

.content-image ul li{
    list-style: none;
    padding: 7px 7px;
    border-radius: 50%;
    border: .5px solid var(--black);
    cursor: pointer;
    transition: transform 0.3s ease;
    background-color: transparent;
    color: white;
}


.content-image ul li:hover{
    transform: translateY(-10px);
    background-color: #000000;

}

.selected {
    background-color: #000000 !important;
}

.price {
    margin: 10px 0;
    font-size: 16px;
    display: block;
    color: var(--black);
}

.info-send{
    display: block;
    color: var(--salmon);
    font-weight: 700;
    margin: 10px 0;
}

select{
    width: 100%;
    padding: 10px 5px;
    outline: none;
    appearance: none;
    border-radius: 3px;
}

.btn-whatsapp{
    background-color: var(--green);
    color: var(--white);
    font-size: 14px;
    padding: 10px 0;
    text-align: center;
    border-radius: 3px;
    font-weight: bold;
}

.btn-buy-now_section {
    color: rgb(0, 0, 0);
    border: none;
    text-align: center;
    line-height: 47px;
    width: 100%;
    font-weight: bold;
    height: 47px;
    margin: 10px 0px;
    background-color: var(--yellow);
    color: var(--black);
    font-size: 18px;
    border-radius: 3px;

}

@media screen and (width < 901px) {
    .content-responsive{
        display: flex;
        margin-top: 40px;
    }

    .arrows-changed {
        height: 50px;
        width: 100%;
        position: absolute;
        top: calc(100% - 275px);
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .arrows-changed div{
        position: relative;
        height: 40px;
        width: 40px;
        
    }

    .arrows-changed button{
        top: calc(100% - 50px);
        height: 40px;
        width: 40px;
        left: 0;
        background-color: rgb(207, 207, 207);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .arrows-changed button i{
        color: white;
        width: 50px;
        height: 50px;
    }

    .arrow-right button {
        left: calc(100% - 39px);
    }

    .arrows-changed div button div {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}