:root{
    --salmon: #FF5D5D;
    --black: #000000;
    --white: #FFFFFF;
    --yellow: #FFCF00;
    --green: #25D366;
    --yellow-light: #FFEB94;
    --blue: #3861FF;
    --gray: #CFCFCF;
}

.styles__StyledGrid-sc-534f1fde-0.huDtmc {
    height: max-content;
    min-height: 500px;
}

.blog_text {
    color: var(--black);
    min-height: 500px;
    font-size: 14px;

}

.blog_text p{
    display: block;
}

.blog_text p br{
    display: none;
}

@media screen and (width < 500) {
    .ksyOci{
        height: max-content;
        min-height: 500px;
    }
}